{% extends 'website/base.html' %}

{% load widget_tweaks %}

{% block page_title %}
  <h3>Detalhes da Campanha</h3>
{% endblock page_title %}

{% block content %}

  <div class="wrapper mb-5 w-50 mx-auto">
    <div class="card shadow my-3">
      <div class="card-body">
        <h3 class="font-weight-bold text-primary mt-3">{{ campaign.title }}</h3>
        <p class="mt-0 lead">{{ campaign.business }}</p>
        <p class="mt-5">{{ campaign.description|linebreaksbr }}</p>
        <p><strong>Orcamento:</strong> R$ {{ campaign.budget|floatformat:2 }}</p>
      </div>
    </div>

    <div class="d-flex flex-row text-left mx-auto mb-5">
    {% if user.is_business %}
      
      
      {% if not campaign.is_active %}
        <button type="button" class="btn btn-sm btn-danger mx-1" data-toggle="modal" data-target="#finishModal" disabled>
          Finalizar
        </button>
      {% else %}
        <button type="button" class="btn btn-sm btn-danger mx-1" data-toggle="modal" data-target="#finishModal">
          Finalizar
        </button>
      {% endif %}
        
    {% elif not user.is_business %}
      <a href="{% url 'influencers:apply' campaign.id %}" class="btn btn-sm btn-primary">Aplicar</a>
    {% endif %}
      <a href="javascript:history.back()" class="btn btn-sm btn-success mx-1">Voltar</a>
    </div>

    
    {% if campaign.business == user.business %}
      
      <div class="card shadow mb-4">
      
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Propostas em Aberto</h6>
        </div>
        
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Proposta</th>
                  <th>Data de Criacao</th>
                  <th>Aceitar</th>
                  <th>Negar</th>
                </tr>
              </thead>
              <tbody>
                {% for application in applications %}
                  <tr>
                    <td><a href="/" class="no-decoration-link">{{ application.influencer }}</a></td>
                    <td>R${{ application.offer }}</td>
                    <td>{{ application.created_at }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    {% endif %}

  </div>

  {% include 'businesses/finish-modal.html' %}

{% endblock content %}
  