{% extends 'website/base.html' %}

{% block page_title %}

<h3>Application Details</h3>
  
{% endblock page_title %}

{% block content %}

<div class="wrapper mb-5 w-50 mx-auto">
  <div class="card shadow my-3">
    <div class="card-body">
      <h3 class="font-weight-bold text-primary mt-3"><a class="no-decoration-link" href="{% url 'campaigns:campaign-details' application.campaign.id %}">{{ application.campaign.title }}</a></h3>
      <p class="mt-0 lead">{{ application.campaign.business }}</p>
      <p class="my-5">Termos da Proposta: {{ application.terms }}</p>
      <p>Oferta: R${{ application.offer|floatformat:2 }}</p>
      
      <p>Status da Proposta:
        <strong>
          {% if application.been_rejected %}
            Rejeitada
          {% elif application.been_accepted %}
            Aceita
          {% else %}
            Aberta
          {% endif %}
        </strong>
      </p>
        
    </div>
  </div>

  <div class="d-flex flex-row text-left mx-auto mb-5">
    <a href="javascript:history.back()" class="btn btn-sm btn-success mx-1">Voltar</a>
  </div>

</div>

{% endblock content %}
  