{% extends 'website/base_website/base.html' %}


{% block content %}


<div class="wrapper w-50 mx-auto">
  <h1>Campaign Details</h1>
  <div class="card shadow mb-3">
    <div class="card-body">
      <h3 class="font-weight-bold text-primary mt-3">{{ campaign.title }}</h3>
      <p class="mt-0 lead">{{ campaign.business }}</p>
      <p class="mt-5">{{ campaign.description }}</p>
      <p><strong>Orcamento:</strong> R$ {{ campaign.budget|floatformat:2 }}</p>
    </div>
  </div>

  <div class="text-left apply-btn mx-auto">
  {% if not user.is_business %}
    <a href="" class="btn btn-sm btn-primary">Aplicar</a>
  {% endif %}
    <a href="javascript:history.back()" class="btn btn-sm btn-success">Voltar</a>
  </div>

</div>
  
{% endblock content %}
  