{% extends 'website/base_website/base.html' %}

{% load widget_tweaks %}


{% block content %}
  
  <h1>{{ campaign.title }}</h1>
  <p class="lead">{{ campaign.business.first_name }}</p>
  <p>{{ campaign.description }}</p>
  <p>Total budget: R$ {{campaign.budget }}</p>

  {% if user.is_influencer %}
    
  <form action="{% url 'website:apply' campaign.id %}" method="post">
    {% csrf_token %}
    {% render_field form.terms class="form-control my-2" placeholder="Your terms for the campaign" %}
    {% render_field form.offer class="form-control my-2" placeholder="Place your offer" %}
    <input class="btn btn-sm btn-primary my-1" type="submit" value="Submit">
  </form>

  {% endif %}
    

{% endblock content %}
  