{% extends 'website/base.html' %}


{% block content %}

<div class="w-50 mx-auto">
  <h1>Index page</h1>
  <p>This is the index page.</p>

  {% if user.is_authenticated %}

  <p>
    You're logged in as {{ user.get_username }}
  </p>

  {% if user.is_business %}
    <div class="d-flex flex-row justify-content-center">
      <a href="{% url 'website:new-campaign' %}" class="btn btn-sm mx-1 btn-primary">Create Campaign</a>  
  {% endif %}
      <a href="{% url 'accounts:logout' %}" class="btn btn-sm mx-1 btn-primary">Logout</a>
    </div>
  {% else %}

  <div class="d-flex flex-row justify-content-center">
      <a href="{% url 'accounts:login' %}" class="btn btn-sm mx-1 btn-primary">Login</a>
      <a href="{% url 'accounts:register' %}" class="btn btn-sm mx-1 btn-primary">Register</a>
  </div>

  {% endif %}
  
  <div class="campaigns mt-5">

    <h2 class="mb-3">Campaigns</h2>
    
    {% for campaign in campaigns %}
      <div class="campaign my-5">
        <p>Title: {{ campaign.title }}</p>
        <p>Description: {{ campaign.description }}</p>
        <p>Creator: {{ campaign.business }}</p>
        <p>Budget: {{ campaign.budget }}</p>
        <a href="{% url 'website:apply' campaign.id %}" class="btn btn-sm btn-primary">Apply</a>
      </div>
    {% endfor %}
</div>
    
  
</div>
  
{% endblock content %}
  