{% extends 'website/base_website/base.html' %}


{% block content %}

  
  {% if user.is_business %}
  <div class="row">
    <a href="{% url 'website:create-campaign' %}" class="text-primary">Create Campaign</a>
  </div>
  {% endif %}
    
  <div class="row mt-4 mb-3">
    <h1 class="mb-3">Campaigns</h1>
    <p class="lead">Ongoing campaigns</p>
  </div>
  <div class="row justify-content-center">
    {% for campaign in campaigns %}
    <div class="card m-1" style="width: 18rem;">
      <div class="d-flex flex-column card-body ">
        <div class="campaign-title" style="height: 4rem;">
          <a href="{% url 'website:apply' campaign.id %}" class="h5 card-title text-dark">{{ campaign.title }}</a>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{ campaign.business.first_name }}</h6>
        <p class="card-text mb-5">{{ campaign.description }}</p>
        
        {% if user.is_influencer %}
        <a class="mx-auto w-50 btn btn-sm btn-primary mt-auto" href="{% url 'website:apply' campaign.id %}">Apply</a>
        {% endif %}
          
      </div>
    </div>
    {% endfor %}
  </div>
    
{% endblock content %}
  