{% extends 'website/base.html' %}

{% load i18n %}

{% block page_title %}
  <h3>Minhas Campanhas</h3>
{% endblock page_title %}

{% block content %}
  
<div class="wrapper w-75 mx-auto">

  {% include 'businesses/cards.html' %}

  <div class="card shadow mb-4">
    
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Campanhas</h6>
    </div>
    
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Orcamento</th>
              <th>Status Campanha</th>
              <th>Data de Criacao</th>
              <th>Propostas</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            
            {% for campaign in campaigns %}
              
            <tr>
              <td>
                <a href="{% url 'campaigns:campaign-details' campaign.id %}" style="text-decoration: none; color:#858796;">{{ campaign.title }}</a>
              </td>
                <td>R$ {{ campaign.budget|floatformat:2 }}</td>
              <td>
                {% if campaign.is_active %}
                  Ativa
                {% else %}
                  Finalizada
                {% endif %}
              </td>
              <td>{{ campaign.created_at }}</td>
              <td>
                {% for k, v in campaigns_data.items %}
                  
                  {% if k == campaign.title %}
                    {{ v }}
                  {% endif %}
                    
                {% endfor %}
              </td>
              
              {% if campaign.is_active %}
              <td class="text-center"><a href="{% url 'businesses:delete' campaign.id %}" style="color:#858796;" class="fa-sm fas fa-trash"></a></td>
              {% else %}
              <td class="text-center" style="color:#d3d3d3;"><i class="fa-sm fas fa-trash" disabled></i></td>
              {% endif %}
                
            </tr>

            
              

            {% endfor %}
              
          </tbody>
        </table>
      </div>
    </div>
      
  </div>
</div>
{% endblock content %}
  